<div>
  <h3 style="margin-top: 15px; margin-left: 45%">Create photo</h3>
  <form class="create-form" [formGroup]="form">
    <div class="mb-1">
      <label for="inputName" class="form-label">Name</label>
      <input type="text" class="form-control" formControlName="name" id="inputName">
      <div *ngIf="!form.controls['name'].valid" class="form-text text-danger">Invalid</div>
    </div>
    <div class="mb-1">
      <label for="inputDescription" class="form-label">Description</label>
      <input type="text" class="form-control" formControlName="description" id="inputDescription">
      <div *ngIf="!form.controls['description'].valid" class="form-text text-danger">Invalid</div>
    </div>
    <div class="mb-1">
      <label for="inputRating" class="form-label">Rating</label>
      <input type="number" class="form-control" formControlName="rating" id="inputRating">
      <div *ngIf="!form.controls['rating'].valid" class="form-text text-danger">Invalid</div>
    </div>
    <div class="mb-1">
      <label for="inputAuthor" class="form-label">Author</label>
      <input type="text" class="form-control" formControlName="author" id="inputAuthor">
      <div *ngIf="!form.controls['author'].valid" class="form-text text-danger">Invalid</div>
    </div>
    <div class="mb-1">
      <label for="inputUrl" class="form-label">URL</label>
      <input type="text" class="form-control" formControlName="url" id="inputUrl">
      <div *ngIf="!form.controls['url'].valid" class="form-text text-danger">Invalid</div>
    </div>
    <div class="btns">
      <button class="btn btn-primary" (click)="onAddNewPhotoClick()">Save photo</button>
      <button style="margin-bottom: 15px" class="btn btn-danger" routerLink="/photos">Close form</button>
    </div>
  </form>
</div>
