<nav class="navbar navbar-expand-lg navbar-light" style="background-color: lightgreen;">
  <div class="container-fluid" style="background-color: lightgreen;">
    <div class="collapse navbar-collapse" id="navbarSupportedContent" style="background-color: lightgreen;">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="background-color: lightgreen;">
        <li class="nav-item">
          <a class="nav-link" routerLink="/authentication" routerLinkActive="active" style="font-size: 25px;">Authentication</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
